body { 
    font-family: Arial, sans-serif; 
    background-color: #f8f9fa; 
    display: flex; 
    justify-content: center; 
    align-items: center; 
    height: 100vh; 
    margin: 0; 
} 
.form-page { 
    background-color: #fff; 
    border: 1px solid #dee2e6; 
    border-radius: 5px; 
    padding: 20px; 
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1); 
    width: 100%; 
    max-width: 600px; 
} 
.steps {
    text-align: center;
    margin-bottom: 20px;
  }
  
  .steps ul {
    list-style-type: none;
    padding: 0;
    display: flex;
    justify-content: center;
  }
  
  .steps li {
    padding: 10px 20px;
    background-color: #ddd;
    margin: 0 5px;
    border-radius: 5px;
  }
  
  .steps .active {
    background-color: #4caf50; /* Color del paso activo */
    color: white;
    font-weight: bold;
    border: 2px solid #000; /* Borde para destacar aún más */
  }
    
  
.step-indicator { 
    font-weight: bold; 
    color: #007BFF; 
    margin-bottom: 10px; 
    display: none; 
    font-size: 16px; 
} 
.form-input { 
    margin-bottom: 20px; 
} 
.form-input input, 
.form-input select, 
.form-input textarea, 
.form-input input[type="range"] { 
    width: 100%; 
    padding: 10px; 
    font-size: 16px; 
    border: 1px solid #ced4da; 
    border-radius: 5px; 
} 
.form-input label { 
    font-size: 16px; 
    margin-bottom: 5px; 
    display: block; 
} 
.buttons { 
    display: flex; 
    justify-content: center; 
} 
.buttons button { 
    padding: 10px 20px; 
    font-size: 16px; 
    border: none; 
    border-radius: 5px; 
    background-color: #007BFF; 
    color: #fff; 
    cursor: pointer;
}
.buttons button:hover { 
    background-color: #0056b3; 
}