/* styles.css */
body {
    font-family: Arial, sans-serif;
    background-color: #f2f2f2;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    margin: 0;
}

.container {
    background-color: white;
    padding: 20px;
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    max-width: 600px;
    width: 100%;
}

.steps-nav {
    display: flex;
    justify-content: space-between;
    margin-bottom: 20px;
}

.step-item {
    flex: 1;
    padding: 5px;
    text-align: center;
    background-color: lightgray;
    margin: 0 2px;
    border-radius: 3px;
    font-size: 0.9em;
    transition: background-color 0.3s;
}

.step-item.active {
    background-color: #007bff;
    color: white;
}

.form-page {
    font-size: 1em;
    display: none;
}

.form-page.active {
    display: block;
}

.form-input {
    margin-bottom: 20px;
}

.flex {
    display: flex;
    justify-content: space-between;
}

